.animation-logo_logoWrapper__D23_t {
    position: absolute;
    top: calc(50% - 24px);
    left: 35px;
    width: 385px;
    height: 539px;
    transform: translateY(-50%)
}

.animation-logo_logo__Cv2Ii {
    position: absolute;
    top: calc(50% + 5px);
    left: 50%;
    width: 668px;
    transform: translate(-50%,-50%)
}
.animation-logo_logo__Cv2Ii div {
    text-align: center;
}
.animation-logo_logo__Cv2Ii .hero-img {
    width: 300px
}

@media (max-width: 1439px) {
    .animation-logo_logoWrapper__D23_t {
        top:calc(50% - 115px);
        left: 14px;
        width: 193px;
        height: 269px
    }

    .animation-logo_logo__Cv2Ii {
        width: 333px
    }
}

@media (max-width: 899px) {
    .animation-logo_logoWrapper__D23_t {
        top:auto;
        left: 50%;
        bottom: 57px;
        transform: translate(-50%)
    }
}

@media (max-width: 599px) {
    .animation-logo_logoWrapper__D23_t {
        bottom:46px;
        width: 132px;
        height: 184px
    }

    .animation-logo_logo__Cv2Ii {
        top: calc(50% + 4px);
        left: 50%;
        width: 226px
    }

    .animation-logo_logo__Cv2Ii .hero-img {
        width: 100%
    }
}

@keyframes header-section_text-slider__mlYCl {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(calc(var(--local-text-slider-height) * -1))
    }

    45% {
        transform: translateY(calc(var(--local-text-slider-height) * -1))
    }

    50% {
        transform: translateY(calc(var(--local-text-slider-height) * -2))
    }

    70% {
        transform: translateY(calc(var(--local-text-slider-height) * -2))
    }

    75% {
        transform: translateY(calc(var(--local-text-slider-height) * -1))
    }

    95% {
        transform: translateY(calc(var(--local-text-slider-height) * -1))
    }

    to {
        transform: translateY(0)
    }
}

.header-section_container__gGwF7 {
    position: relative
}

.header-section_container__gGwF7:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,transparent 2.78%,var(--lido-color-borders-fog) 22.81%,var(--lido-color-borders-fog) 70.89%,transparent 88.26%)
}

.header-section_wrapper__mPKkg {
    position: relative;
    display: grid;
    grid-template-columns: minmax(auto,667px) minmax(949px,1fr);
    height: calc(100vh - 91px);
    min-height: 680px
}

.header-section_blockOne__su39p {
    position: relative
}

.header-section_blockOne__su39p:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background: linear-gradient(0deg,rgba(0,0,0,.1) 35.68%,transparent 93.21%)
}

.header-section_blockTwo__Nn3xb {
    display: flex;
    align-items: center
}

.header-section_info__9mOjc {
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    padding-left: 18%
}

.header-section_text__qI8mL {
    display: inline-block;
    margin: 0 0 -8px 10px
}

.header-section_textSlider__OBbjo {
    --local-text-slider-height: calc(var(--lido-line-height-h2) + 20px);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: var(--local-text-slider-height);
    margin: -10px 0
}

.header-section_itemTextSlider__WB_uT {
    line-height: var(--local-text-slider-height);
    animation: header-section_text-slider__mlYCl 15s ease infinite
}

.header-section_token__oqum8 {
    font-size: 200px;
    font-weight: 400;
    line-height: 100%
}

.header-section_description__H8d6M {
    margin: 10px 0 54px;
    color: var(--lido-color-primary-72)
}

.header-section_row__zE1Ep {
    display: flex;
    align-items: center;
    gap: 30px
}

.header-section_numbers__F7I8v {
    display: flex;
    align-items: center;
    gap: 28px
}

.header-section_line__EbYUk {
    width: 1px;
    height: 58px;
    background-color: var(--lido-color-borders-fog)
}

.header-section_numberLabel__P8Dgt {
    margin-top: -8px;
    color: var(--lido-color-primary-50)
}

.header-section_blurSpotOne__fGHG9,.header-section_blurSpotThree__NJp_z,.header-section_blurSpotTwo__t_KgG {
    position: absolute;
    border-radius: 100%;
    z-index: -1
}

.header-section_blurSpotOne__fGHG9 {
    top: -700px;
    left: -550px;
    width: 1248px;
    height: 1248px;
    background: radial-gradient(hsla(14,85%,75%,.25) 0,transparent 60%)
}

.header-section_blurSpotThree__NJp_z,.header-section_blurSpotTwo__t_KgG {
    left: -450px;
    width: 1000px;
    height: 1000px
}

.header-section_blurSpotTwo__t_KgG {
    top: -250px;
    background: radial-gradient(rgba(255,91,130,.2) 0,transparent 60%)
}

.header-section_blurSpotThree__NJp_z {
    top: -150px;
    background: radial-gradient(rgba(147,146,255,.2) 0,transparent 60%)
}

@media (max-width: 1920px) {
    .header-section_container__gGwF7:before {
        background:var(--lido-color-borders-fog)
    }
}

@media (max-width: 1699px) {
    .header-section_wrapper__mPKkg {
        grid-template-columns:minmax(auto,581px) minmax(819px,1fr);
        min-height: 620px
    }

    .header-section_info__9mOjc {
        margin-top: -8%;
        padding-left: 16%
    }

    .header-section_token__oqum8 {
        font-size: 180px
    }
}

@media (max-width: 1439px) {
    .header-section_wrapper__mPKkg {
        grid-template-columns:111px 1fr;
        min-height: 650px
    }

    .header-section_info__9mOjc {
        margin-top: 4%;
        padding-left: 161px
    }

    .header-section_text__qI8mL {
        margin: 0
    }

    .header-section_description__H8d6M {
        margin: 10px 0 64px
    }

    .header-section_blurSpotOne__fGHG9 {
        display: none
    }

    .header-section_blurSpotThree__NJp_z,.header-section_blurSpotTwo__t_KgG {
        left: -290px;
        width: 800px;
        height: 800px
    }

    .header-section_blurSpotTwo__t_KgG {
        top: -350px;
        background: radial-gradient(rgba(255,91,130,.1) 0,transparent 60%)
    }

    .header-section_blurSpotThree__NJp_z {
        top: -150px;
        background: radial-gradient(rgba(147,146,255,.15) 0,transparent 60%)
    }
}

@media (max-width: 899px) {
    .header-section_wrapper__mPKkg {
        grid-template-columns:1fr;
        height: auto;
        min-height: calc(100vh - 91px)
    }

    .header-section_blockOne__su39p {
        min-height: 355px
    }

    .header-section_blockOne__su39p:before {
        display: none
    }

    .header-section_blockTwo__Nn3xb {
        padding-bottom: 90px;
        align-items: flex-start
    }

    .header-section_info__9mOjc {
        margin: 0;
        padding: 0
    }

    .header-section_text__qI8mL {
        margin-bottom: 9px
    }

    .header-section_textSlider__OBbjo {
        --local-text-slider-height: calc(var(--lido-line-height-h2) + 10px);
        margin: -5px 0
    }

    .header-section_token__oqum8 {
        font-size: 120px
    }

    .header-section_description__H8d6M {
        margin: 22px 0 24px
    }

    .header-section_line__EbYUk {
        height: 41px
    }
}

@media (max-width: 599px) {
    .header-section_blockOne__su39p {
        min-height:256px
    }

    .header-section_token__oqum8 {
        font-size: 84px
    }

    .header-section_description__H8d6M {
        order: 1;
        margin: 24px 0 0
    }

    .header-section_row__zE1Ep {
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
        margin-top: 24px
    }
}

.how-lido-works_container__J9PBW {
    position: relative
}

.how-lido-works_container__J9PBW:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,transparent 2.78%,var(--lido-color-borders-fog) 22.81%,var(--lido-color-borders-fog) 70.89%,transparent 88.26%)
}

/* .container_innerContainer__1X9r6 a, */
.all_staking_button_container a,
.how-lido-works_container__J9PBW a {
    /* border: solid red !important; */
    pointer-events: none;
}

.stake_button {
    pointer-events: auto;
}

.how-lido-works_wrapper__FOQvd {
    width: 100%;
    padding: 220px 0
}

.how-lido-works_blocks__SSOqo {
    display: flex;
    width: 100%;
    max-width: 1341px
}

.how-lido-works_logos__k5Mzp {
    display: flex
}

.how-lido-works_logos__k5Mzp>.how-lido-works_logoWrapper__kHwM_:not(:first-child) {
    margin-left: -10px
}

.how-lido-works_logoWrapper__kHwM_ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    min-width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 1px solid var(--lido-color-borders-fog);
    box-sizing: border-box
}

.how-lido-works_logo__ecYsp {
    width: 70px;
    height: 70px
}

.how-lido-works_block__dyfRJ {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.how-lido-works_block__dyfRJ:first-child {
    width: 388px
}

.how-lido-works_block__dyfRJ:nth-child(2) {
    flex: 1 1
}

.how-lido-works_block__dyfRJ:nth-child(3) {
    width: 383px
}

.how-lido-works_block__dyfRJ:not(:last-child):after,.how-lido-works_block__dyfRJ:not(:last-child):before {
    content: "";
    position: absolute;
    top: 55px;
    left: 110px;
    right: 0;
    height: 1px;
    background-color: var(--lido-color-borders-fog)
}

.how-lido-works_block__dyfRJ:not(:last-child):after {
    max-width: 175px;
    background-color: var(--lido-color-primary)
}

.how-lido-works_infoBlock__bfps0 {
    display: flex;
    flex-direction: column;
    gap: 9px
}

.how-lido-works_description__EqWA_ {
    font-weight: var(--lido-font-weight-medium)
}

.how-lido-works_descriptionWrapper__QRXDq {
    display: flex;
    align-items: flex-start;
    gap: 20px
}

.how-lido-works_buttonWrapper___Hhm8 {
    display: flex;
    align-items: center;
    gap: 10px
}

@media (max-width: 1920px) {
    .how-lido-works_container__J9PBW:before {
        background:var(--lido-color-borders-fog)
    }
}

@media (max-width: 1699px) {
    .how-lido-works_blocks__SSOqo {
        max-width:1251px
    }
}

@media (max-width: 1439px) {
    .how-lido-works_wrapper__FOQvd {
        padding:130px 0 170px
    }

    .how-lido-works_blocks__SSOqo {
        max-width: 100%
    }

    .how-lido-works_logoWrapper__kHwM_ {
        width: 86px;
        min-width: 86px;
        height: 86px
    }

    .how-lido-works_logo__ecYsp {
        width: 56px;
        height: 56px
    }

    .how-lido-works_block__dyfRJ {
        gap: 54px
    }

    .how-lido-works_block__dyfRJ:first-child {
        width: 219px
    }

    .how-lido-works_block__dyfRJ:nth-child(3) {
        width: 269px
    }

    .how-lido-works_block__dyfRJ:not(:last-child):after,.how-lido-works_block__dyfRJ:not(:last-child):before {
        top: 43px;
        left: 86px
    }

    .how-lido-works_block__dyfRJ:not(:last-child):after {
        max-width: 78px
    }

    .how-lido-works_title__BZmyA {
        font-size: 34px;
        font-weight: 500;
        line-height: 48px
    }

    .how-lido-works_descriptionWrapper__QRXDq {
        gap: 14px
    }

    .how-lido-works_description__EqWA_ {
        font-size: 22px;
        font-weight: 300!important;
        line-height: 40px
    }

    .how-lido-works_buttonWrapper___Hhm8 {
        margin-top: -6px
    }
}

@media (max-width: 899px) {
    .how-lido-works_wrapper__FOQvd {
        padding:130px 0 120px
    }

    .how-lido-works_blocks__SSOqo {
        flex-direction: column;
        max-width: 405px;
        margin: 0 auto
    }

    .how-lido-works_block__dyfRJ {
        flex-direction: row
    }

    .how-lido-works_block__dyfRJ:first-child {
        width: 100%;
        height: 219px
    }

    .how-lido-works_block__dyfRJ:nth-child(2) {
        flex: 0 1 auto;
        width: 100%;
        height: 226px
    }

    .how-lido-works_block__dyfRJ:nth-child(3) {
        width: 100%
    }

    .how-lido-works_block__dyfRJ:not(:last-child):after,.how-lido-works_block__dyfRJ:not(:last-child):before {
        top: 86px;
        left: 43px;
        right: auto;
        bottom: 0;
        width: 1px;
        height: auto
    }

    .how-lido-works_block__dyfRJ:not(:last-child):after {
        max-width: auto;
        max-height: 61px
    }

    .how-lido-works_logos__k5Mzp {
        flex-direction: column
    }

    .how-lido-works_logos__k5Mzp>.how-lido-works_logoWrapper__kHwM_:not(:first-child) {
        margin: -10px 0 0
    }

    .how-lido-works_descriptionWrapper__QRXDq {
        flex: 1 1;
        flex-direction: column;
        justify-content: space-between
    }

    .how-lido-works_buttonWrapper___Hhm8 {
        margin: 0 0 6px
    }
}

@media (max-width: 599px) {
    .how-lido-works_wrapper__FOQvd {
        padding:80px 0 120px
    }

    .how-lido-works_blocks__SSOqo {
        max-width: 100%;
        margin: 0
    }

    .how-lido-works_buttonWrapper___Hhm8 {
        margin: 0 0 16px
    }
}

.steth_container__b0MVh {
    position: relative
}

.steth_container__b0MVh:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,transparent 2.78%,var(--lido-color-borders-fog) 22.81%,var(--lido-color-borders-fog) 70.89%,transparent 88.26%)
}

.steth_wrapper__Qu_rZ {
    display: grid;
    grid-template-columns: 710px 1fr;
    width: 100%
}

.steth_blockOne__I5I78,.steth_blockTwo__vjL89 {
    position: relative
}

.steth_info__1acSJ {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 549px;
    height: 408px;
    margin-top: 100px;
    padding: 120px 0 132px
}

.steth_token__XIhK1 {
    font-size: 200px;
    font-weight: 400;
    line-height: 156px;
    letter-spacing: -10px
}

.steth_descriptionInfo__trjw3 {
    padding-right: 40px
}

.steth_items__6Lwss {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 140px;
    width: 100%;
    max-width: 760px;
    padding: 220px 0 132px
}

.steth_item__Efh1h {
    position: relative;
    padding-left: 130px
}

.steth_descriptionItem__7Ji8T {
    margin-top: 10px;
    color: var(--lido-color-primary-72)
}

.steth_lineWrapper__oSHdS {
    left: 100%;
    z-index: -2
}

.steth_lineWrapper__oSHdS,.steth_lineWrapper__oSHdS:before {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%)
}

.steth_lineWrapper__oSHdS:before {
    content: "";
    left: 50%;
    width: 1px;
    background: var(--lido-color-borders-fog)
}

.steth_bigLogoBlock__W8Khv {
    position: sticky;
    top: 0;
    margin-top: 100px;
    padding: 120px 0 410px
}

.steth_bigLogoWrapper__m4eqq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #fff9f9;
    border: 1px solid var(--lido-color-borders-fog);
    box-sizing: border-box
}

.steth_bigLogo__MSPNP {
    width: 90px;
    height: 90px
}

.steth_logos__gKvR0 {
    display: flex;
    margin-top: 30px
}

.steth_logos__gKvR0>:not(:first-child) {
    margin-left: -10px
}

.steth_logoWrapper__0_NjK {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    border-radius: 100%;
    border: 1px solid var(--lido-color-borders-fog);
    box-sizing: border-box
}

.steth_button__qUAiF {
    height: 86px;
    border-color: var(--lido-color-primary)
}

.steth_exploreButton__do2hj {
    width: 131px
}

.steth_ecosystemButton__Hlnzj {
    width: 158px
}

.steth_blurSpotOne__YXyaY,.steth_blurSpotTwo__xYgID {
    position: absolute;
    width: 1400px;
    height: 1400px;
    border-radius: 100%;
    z-index: -1
}

.steth_blurSpotOne__YXyaY {
    top: -200px;
    left: -700px;
    background: radial-gradient(rgba(0,179,255,.3) 0,transparent 70%)
}

.steth_blurSpotTwo__xYgID {
    top: -250px;
    left: 200px;
    background: radial-gradient(rgba(0,41,255,.2) 0,transparent 70%)
}

@media (max-width: 1920px) {
    .steth_container__b0MVh:before {
        background:var(--lido-color-borders-fog)
    }
}

@media (max-width: 1699px) {
    .steth_wrapper__Qu_rZ {
        grid-template-columns:minmax(0,683px) minmax(717px,1fr)
    }

    .steth_info__1acSJ {
        gap: 40px;
        height: 388px;
        margin-top: 80px;
        padding: 120px 0 142px
    }

    .steth_bigLogoBlock__W8Khv {
        margin-top: 80px
    }

    .steth_token__XIhK1 {
        font-size: 180px;
        font-weight: 400;
        line-height: 156px
    }

    .steth_items__6Lwss {
        max-width: 627px;
        padding: 200px 0 142px
    }

    .steth_item__Efh1h {
        padding-left: 150px
    }

    .steth_bigLogoWrapper__m4eqq {
        width: 120px;
        height: 120px
    }

    .steth_bigLogo__MSPNP {
        width: 80px;
        height: 80px
    }
}

@media (max-width: 1439px) {
    .steth_wrapper__Qu_rZ {
        grid-template-columns:1fr
    }

    .steth_info__1acSJ {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 170px 0 200px
    }

    .steth_info__1acSJ:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 1px;
        background: var(--lido-color-borders-fog);
        transform: translateX(-50%)
    }

    .steth_items__6Lwss {
        padding: 140px 0 100px
    }

    .steth_lineWrapper__oSHdS {
        display: none
    }

    .steth_item__Efh1h {
        padding-left: 0
    }

    .steth_titleItem__BEew6>br {
        display: none
    }

    .steth_blurSpotOne__YXyaY {
        top: -200px;
        left: 0
    }

    .steth_blurSpotTwo__xYgID {
        display: none
    }
}

@media (max-width: 899px) {
    .steth_info__1acSJ {
        gap:30px;
        padding: 120px 0 100px
    }

    .steth_token__XIhK1 {
        font-size: 120px;
        line-height: 156px;
        letter-spacing: -4px
    }

    .steth_descriptionItem__7Ji8T {
        margin-top: 20px
    }

    .steth_items__6Lwss {
        gap: 100px
    }

    .steth_blurSpotOne__YXyaY {
        top: -700px;
        left: -50px
    }
}

@media (max-width: 599px) {
    .steth_info__1acSJ {
        gap:20px;
        padding: 100px 0 70px
    }

    .steth_logos__gKvR0>:not(:first-child) {
        margin-left: -18px
    }

    .steth_smHiddenlogoWrapper__hIaVW {
        display: none
    }

    .steth_blurSpotOne__YXyaY {
        top: -100px;
        left: 0
    }
}

@media (max-width: 374px) {
    .steth_logoWrapper__0_NjK {
        display:none
    }

    .steth_logos__gKvR0>:not(:first-child) {
        margin-left: 0
    }
}

.title_wrapper__ZelTJ {
    position: relative;
    width: 100%;
    padding: 203px 0 136px
}

.title_block__a8PBd {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    z-index: 1
}

.title_textBlock__eZPQI {
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    text-transform: uppercase
}

.title_titleBlock__UZ4Z8 {
    font-size: 200px;
    font-weight: 400;
    line-height: 200px;
    letter-spacing: -10px;
    text-transform: uppercase
}

.title_svgTextBlock__ZEv7c {
    width: 590px;
    max-width: 100%;
    height: 129px
}

.title_logo__s4bVs {
    position: absolute;
    top: 170px;
    right: -160px;
    width: 863px;
    height: 554px
}

.title_blurSpotOne__UcL_V,.title_blurSpotTwo___54U4 {
    position: absolute;
    width: 1248px;
    height: 1248px;
    border-radius: 100%;
    z-index: -1
}

.title_blurSpotOne__UcL_V {
    top: 200px;
    left: -600px
}

.title_blurSpotOne__UcL_V,.title_blurSpotTwo___54U4 {
    background: radial-gradient(rgba(255,84,248,.25) 0,transparent 60%)
}

.title_blurSpotTwo___54U4 {
    top: -250px;
    right: -350px
}

@media (max-width: 1699px) {
    .title_wrapper__ZelTJ {
        padding:244px 0 136px
    }

    .title_block__a8PBd {
        gap: 28px
    }

    .title_titleBlock__UZ4Z8 {
        font-size: 180px;
        line-height: 200px
    }

    .title_logo__s4bVs {
        top: 100px;
        right: -200px
    }

    .title_blurSpotOne__UcL_V {
        top: 100px
    }

    .title_blurSpotTwo___54U4 {
        right: -400px
    }
}

@media (max-width: 1439px) {
    .title_wrapper__ZelTJ {
        padding:390px 0 182px
    }

    .title_logo__s4bVs {
        top: 10px;
        right: -325px
    }

    .title_blurSpotOne__UcL_V {
        top: -150px;
        left: -400px
    }

    .title_blurSpotTwo___54U4 {
        top: -450px;
        right: -650px
    }
}

@media (max-width: 899px) {
    .title_wrapper__ZelTJ {
        padding:280px 0 120px
    }

    .title_block__a8PBd {
        gap: 0
    }

    .title_textBlock__eZPQI {
        font-size: 32px;
        line-height: 58px
    }

    .title_titleBlock__UZ4Z8 {
        font-size: 120px;
        line-height: 138px;
        letter-spacing: -8px
    }

    .title_svgTextBlock__ZEv7c {
        width: 435px;
        height: 96px
    }

    .title_logo__s4bVs {
        top: 67px;
        right: auto;
        left: 160px;
        width: 505px;
        height: 324px
    }

    .title_blurSpotOne__UcL_V {
        top: -300px;
        left: -400px;
        background: radial-gradient(rgba(255,84,248,.15) 0,transparent 60%)
    }

    .title_blurSpotTwo___54U4 {
        right: -850px
    }
}

@media (max-width: 599px) {
    .title_wrapper__ZelTJ {
        padding:210px 0 100px
    }

    .title_block__a8PBd {
        gap: 6px
    }

    .title_textBlock__eZPQI {
        font-size: 23px
    }

    .title_titleBlock__UZ4Z8 {
        font-size: 84px;
        line-height: 84px;
        letter-spacing: -8px;
        overflow-wrap: anywhere
    }

    .title_svgTextBlock__ZEv7c {
        width: 312px;
        height: 69px
    }

    .title_logo__s4bVs {
        top: 23px;
        left: 75px;
        width: 430px;
        height: 276px
    }

    .title_blurSpotOne__UcL_V {
        top: -400px;
        left: -250px;
        background: radial-gradient(rgba(255,84,248,.15) 0,transparent 60%)
    }

    .title_blurSpotTwo___54U4 {
        display: none
    }
}

.cards_container__SC5Yi {
    position: relative
}

.cards_container__SC5Yi:after,.cards_container__SC5Yi:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,transparent 2.78%,var(--lido-color-borders-fog) 22.81%,var(--lido-color-borders-fog) 70.89%,transparent 88.26%)
}

.cards_container__SC5Yi:before {
    top: 0
}

.cards_container__SC5Yi:after {
    bottom: 0
}

.cards_wrapper__1GoKc {
    display: flex
}

.cards_card__Pb_Ij {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 38px;
    padding: 131px 0 132px
}

.cards_card__Pb_Ij:first-child {
    max-width: 400px;
    padding-right: 52px
}

.cards_card__Pb_Ij:nth-child(2) {
    max-width: 450px;
    padding-left: 39px;
    padding-right: 129px
}

.cards_card__Pb_Ij:nth-child(3) {
    max-width: 340px;
    padding-left: 40px;
    padding-right: 40px
}

.cards_card__Pb_Ij:not(:last-child) {
    border-right: 1px solid var(--lido-color-borders-fog)
}

.cards_labelCard__3_uSb {
    font-weight: var(--lido-font-weight-medium)
}

.cards_titleCard__5n1JJ {
    white-space: nowrap
}

.cards_descriptionCard__7o_Iq {
    margin: 10px 0 20px;
    color: var(--lido-color-primary-72)
}

.cards_buttons__N_wAD {
    display: flex;
    gap: 20px
}

.cards_button__F58l0 {
    --local-gap: 10px
}

@media (max-width: 1920px) {
    .cards_container__SC5Yi:after,.cards_container__SC5Yi:before {
        background:var(--lido-color-borders-fog)
    }
}

@media (max-width: 1699px) {
    .cards_card__Pb_Ij {
        padding:131px 0 56px
    }

    .cards_card__Pb_Ij:first-child {
        max-width: 400px;
        padding-right: 57px
    }

    .cards_card__Pb_Ij:first-child .cards_titleCard__5n1JJ {
        max-width: 200px
    }

    .cards_card__Pb_Ij:nth-child(2) {
        max-width: 352px;
        padding-left: 40px;
        padding-right: 60px
    }

    .cards_titleCard__5n1JJ {
        white-space: normal
    }
}

@media (max-width: 1439px) {
    .cards_container__SC5Yi:after,.cards_container__SC5Yi:before {
        display:none
    }

    .cards_wrapper__1GoKc {
        flex-direction: column
    }

    .cards_card__Pb_Ij {
        flex-direction: row;
        justify-content: flex-start;
        gap: 60px;
        padding: 0
    }

    .cards_card__Pb_Ij:nth-child(n) {
        width: 100%;
        max-width: 100%
    }

    .cards_card__Pb_Ij:first-child {
        padding: 0 0 60px
    }

    .cards_card__Pb_Ij:first-child .cards_block__4soIj {
        max-width: 450px
    }

    .cards_card__Pb_Ij:first-child .cards_titleCard__5n1JJ {
        max-width: 100%
    }

    .cards_card__Pb_Ij:nth-child(2) {
        padding: 60px 0
    }

    .cards_card__Pb_Ij:nth-child(2) .cards_block__4soIj {
        max-width: 500px
    }

    .cards_card__Pb_Ij:nth-child(3) {
        padding: 60px 0 0
    }

    .cards_card__Pb_Ij:nth-child(3) .cards_block__4soIj {
        max-width: 450px
    }

    .cards_card__Pb_Ij:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid var(--lido-color-borders-fog)
    }

    .cards_labelCard__3_uSb {
        width: 260px
    }
}

@media (max-width: 899px) {
    .cards_card__Pb_Ij {
        flex-direction:column;
        gap: 50px
    }

    .cards_card__Pb_Ij:nth-child(n) .cards_block__4soIj {
        max-width: 450px
    }

    .cards_card__Pb_Ij:first-child {
        padding: 0 0 50px
    }

    .cards_card__Pb_Ij:nth-child(2) {
        padding: 50px 0
    }

    .cards_card__Pb_Ij:nth-child(3) {
        padding: 50px 0 0
    }
}

@media (max-width: 599px) {
    .cards_card__Pb_Ij:nth-child(n) .cards_block__4soIj {
        max-width:100%
    }

    .cards_buttons__N_wAD {
        flex-wrap: wrap
    }
}

.auditors_container__u3tOw {
    position: relative
}

.auditors_container__u3tOw:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,transparent 2.78%,var(--lido-color-borders-fog) 22.81%,var(--lido-color-borders-fog) 70.89%,transparent 88.26%)
}

.auditors_wrapper__QquYZ {
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: 100%;
    padding: 120px 0 198px
}

.auditors_title__JVpnd {
    color: var(--lido-color-primary-32)
}

.auditors_logos___CB2i {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 100px;
    width: 100%;
    max-width: 1391px
}

.auditors_link__zibXF {
    opacity: 1;
    transition: opacity .3s
}

.auditors_link__zibXF:hover {
    opacity: .7;
    transition: opacity .3s
}

.auditors_logo__P_1rE {
    width: 198px;
    height: 48px
}

@media (max-width: 1920px) {
    .auditors_container__u3tOw:after {
        background:var(--lido-color-borders-fog)
    }
}

@media (max-width: 1699px) {
    .auditors_wrapper__QquYZ {
        padding:120px 0 176px
    }

    .auditors_logos___CB2i {
        gap: 40px 140px;
        max-width: 1242px
    }
}

@media (max-width: 1439px) {
    .auditors_wrapper__QquYZ {
        padding:130px 0
    }

    .auditors_logos___CB2i {
        gap: 40px 100px;
        max-width: 100%
    }
}

@media (max-width: 899px) {
    .auditors_logos___CB2i {
        gap:40px
    }
}

@media (max-width: 599px) {
    .auditors_wrapper__QquYZ {
        padding:120px 0 130px
    }

    .auditors_logos___CB2i {
        gap: 40px 30px
    }

    .auditors_logo__P_1rE {
        width: 132px;
        height: 28px
    }
}

.security_wrapper__TC0yY {
    width: 100%
}

.lido-dao_container__l2aNL {
    position: relative
}

.lido-dao_container__l2aNL:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,transparent 2.78%,var(--lido-color-borders-fog) 22.81%,var(--lido-color-borders-fog) 70.89%,transparent 88.26%)
}

.lido-dao_wrapper__U6_9m {
    display: grid;
    grid-template-columns: minmax(0,730px) minmax(850px,1fr);
    width: 100%
}

.lido-dao_blockOne__4I2u5 {
    position: relative
}

.lido-dao_info__cIeBf {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 444px;
    margin-top: 100px;
    padding: 120px 0 180px
}

.lido-dao_infoTitle__9FTip {
    margin: 24px 0 42px;
    font-size: 200px;
    font-weight: 400;
    line-height: 156px;
    letter-spacing: -8px
}

.lido-dao_infoText__SQh9z {
    position: relative;
    max-width: 395px;
    font-size: 44px;
    font-weight: var(--lido-font-weight-medium);
    line-height: 58px;
    text-transform: uppercase
}

.lido-dao_infoText__SQh9z:first-child:before,.lido-dao_infoText__SQh9z:last-child:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 19px;
    box-sizing: border-box
}

.lido-dao_infoText__SQh9z:first-child:before {
    top: -11px;
    left: -13px;
    border-top: 3px solid var(--lido-color-primary);
    border-left: 3px solid var(--lido-color-primary);
    transform: translateX(-100%)
}

.lido-dao_infoText__SQh9z:last-child:after {
    bottom: -18px;
    right: -8px;
    border-right: 3px solid var(--lido-color-primary);
    border-bottom: 3px solid var(--lido-color-primary)
}

.lido-dao_descriptionInfo__jeCZg {
    padding-right: 40px
}

.lido-dao_items__wGpwg {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 670px;
    padding: 220px 0 180px
}

.lido-dao_items__wGpwg:after,.lido-dao_items__wGpwg:before {
    content: "";
    position: absolute;
    left: 0;
    width: 1px;
    background: var(--lido-color-borders-fog)
}

.lido-dao_items__wGpwg:before {
    top: 0;
    height: 220px
}

.lido-dao_items__wGpwg:after {
    bottom: 0;
    height: 180px
}

.lido-dao_item__WlXV8 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 132px
}

.lido-dao_item__WlXV8:not(:last-child) {
    padding-bottom: 170px
}

.lido-dao_item__WlXV8:after {
    content: "";
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    width: 1px;
    background: var(--lido-color-borders-fog)
}

.lido-dao_bigIconItem__iSgJU,.lido-dao_iconItem__f2uGV {
    position: absolute;
    top: 0;
    transform: translateX(-50%)
}

.lido-dao_iconItem__f2uGV {
    left: 0;
    width: 110px;
    height: 110px
}

.lido-dao_bigIconItem__iSgJU {
    left: -4px;
    width: 120px;
    height: 122px
}

.lido-dao_descriptionItem__TFnVn {
    color: var(--lido-color-primary-72)
}

.lido-dao_blurSpotOne__K_Jog,.lido-dao_blurSpotTwo__V89wS {
    position: absolute;
    border-radius: 100%;
    z-index: -1
}

.lido-dao_blurSpotOne__K_Jog {
    top: 200px;
    left: -800px;
    width: 1400px;
    height: 1400px;
    background: radial-gradient(rgba(0,41,255,.2) 0,transparent 70%)
}

.lido-dao_blurSpotTwo__V89wS {
    top: -250px;
    left: -400px;
    width: 800px;
    height: 600px;
    background: radial-gradient(rgba(255,204,179,.35) 0,transparent 65%)
}

@media (max-width: 1920px) {
    .lido-dao_container__l2aNL:before {
        background:var(--lido-color-borders-fog)
    }
}

@media (max-width: 1699px) {
    .lido-dao_wrapper__U6_9m {
        grid-template-columns:minmax(0,687px) minmax(756px,1fr)
    }

    .lido-dao_info__cIeBf {
        padding: 120px 0 170px
    }

    .lido-dao_infoTitle__9FTip {
        margin: 24px 0 42px;
        font-size: 180px;
        line-height: 150px
    }

    .lido-dao_items__wGpwg {
        max-width: 645px;
        padding: 220px 0 170px
    }

    .lido-dao_items__wGpwg:after {
        height: 170px
    }

    .lido-dao_item__WlXV8 {
        padding-left: 146px
    }

    .lido-dao_item__WlXV8:after {
        top: 100px
    }

    .lido-dao_iconItem__f2uGV {
        width: 100px;
        height: 100px
    }

    .lido-dao_bigIconItem__iSgJU {
        left: -5px;
        width: 111px;
        height: 112px
    }
}

@media (max-width: 1439px) {
    .lido-dao_wrapper__U6_9m {
        grid-template-columns:1fr
    }

    .lido-dao_info__cIeBf {
        max-width: 724px;
        margin: 0 auto;
        padding: 190px 0
    }

    .lido-dao_infoTitle__9FTip {
        margin: 16px 0 33px
    }

    .lido-dao_infoText__SQh9z {
        max-width: 100%
    }

    .lido-dao_infoText__SQh9z:first-child {
        margin-left: 15px
    }

    .lido-dao_infoText__SQh9z:last-child {
        margin-right: 21px;
        text-align: end
    }

    .lido-dao_infoText__SQh9z:first-child:before {
        top: -10px;
        left: -7px
    }

    .lido-dao_infoText__SQh9z:last-child:after {
        bottom: -7px;
        right: -19px
    }

    .lido-dao_items__wGpwg {
        max-width: 100%;
        padding: 0 0 125px
    }

    .lido-dao_items__wGpwg:before {
        display: none
    }

    .lido-dao_items__wGpwg:after {
        left: 50px;
        height: 125px
    }

    .lido-dao_item__WlXV8 {
        padding-left: 143px
    }

    .lido-dao_item__WlXV8:after {
        left: 50px
    }

    .lido-dao_bigIconItem__iSgJU,.lido-dao_iconItem__f2uGV {
        transform: translateX(0)
    }

    .lido-dao_bigIconItem__iSgJU {
        left: -10px
    }

    .lido-dao_blurSpotOne__K_Jog {
        top: -250px;
        left: -250px
    }

    .lido-dao_blurSpotTwo__V89wS {
        display: none
    }
}

@media (max-width: 899px) {
    .lido-dao_info__cIeBf {
        width:auto;
        max-width: 479px;
        margin: 0;
        padding: 187px 0 140px
    }

    .lido-dao_infoTitle__9FTip {
        margin: 14px 0;
        font-size: 120px;
        line-height: 150px
    }

    .lido-dao_infoText__SQh9z {
        font-size: 32px;
        line-height: 58px
    }

    .lido-dao_infoText__SQh9z:last-child {
        text-align: start
    }

    .lido-dao_infoText__SQh9z:first-child,.lido-dao_infoText__SQh9z:last-child {
        margin: 0
    }

    .lido-dao_infoText__SQh9z:last-child:after {
        bottom: 2px;
        right: -17px
    }

    .lido-dao_items__wGpwg {
        padding: 0 0 140px
    }

    .lido-dao_items__wGpwg:after {
        display: none
    }

    .lido-dao_item__WlXV8 {
        padding-left: 0
    }

    .lido-dao_item__WlXV8:after {
        display: none
    }

    .lido-dao_item__WlXV8:not(:last-child) {
        padding-bottom: 130px
    }

    .lido-dao_bigIconItem__iSgJU,.lido-dao_iconItem__f2uGV {
        position: relative
    }

    .lido-dao_blurSpotOne__K_Jog {
        top: -300px;
        left: -300px
    }
}

@media (max-width: 599px) {
    .lido-dao_info__cIeBf {
        max-width:360px;
        padding: 160px 0 100px
    }

    .lido-dao_infoTitle__9FTip {
        font-size: 84px;
        line-height: 100%;
        letter-spacing: -5px
    }

    .lido-dao_infoText__SQh9z {
        font-size: 23px
    }

    .lido-dao_infoText__SQh9z:first-child {
        line-height: 58px
    }

    .lido-dao_infoText__SQh9z:last-child {
        line-height: 35px
    }

    .lido-dao_infoText__SQh9z:first-child:before,.lido-dao_infoText__SQh9z:last-child:after {
        width: 11px;
        height: 10px;
        border-width: 2px
    }

    .lido-dao_infoText__SQh9z:first-child:before {
        top: 11px;
        left: 1px
    }

    .lido-dao_infoText__SQh9z:last-child:after {
        bottom: -3px;
        right: -10px
    }

    .lido-dao_item__WlXV8:not(:last-child) {
        padding-bottom: 110px
    }
}

.ecosystem-slider-card_card___A3p5 {
    width: 220px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 76px;
    height: 264px;
    text-decoration: none
}

.ecosystem-slider-card_icon__WyvaN {
    border: 1px solid var(--lido-color-borders-fog);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    box-sizing: border-box;
    margin-bottom: 8px
}

.ecosystem-slider-card_title__YDgVx {
    color: var(--lido-color-primary);
    font-weight: var(--lido-font-weight-light);
    line-height: var(--lido-line-height-subheader);
    font-size: var(--lido-font-size-subheader);
    transition: color .3s;
    margin-bottom: 4px
}

.ecosystem-slider-card_description__MzJQA {
    display: -webkit-box;
    color: var(--lido-color-primary-50);
    font-size: var(--lido-font-size-body);
    line-height: var(--lido-line-height-body);
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: color .3s
}

.ecosystem-slider-card_arrowContainer__US_zo {
    justify-self: flex-end;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.ecosystem-slider-card_arrow__ytYAh {
    width: 20px;
    height: 20px;
    color: var(--lido-color-primary);
    transition: color .3s
}

.ecosystem-slider-card_card___A3p5:focus,.ecosystem-slider-card_card___A3p5:hover {
    outline: none
}

.ecosystem-slider-card_card___A3p5:focus .ecosystem-slider-card_title__YDgVx,.ecosystem-slider-card_card___A3p5:hover .ecosystem-slider-card_title__YDgVx {
    color: var(--lido-color-accent-ocean);
    transition: color .3s
}

.ecosystem-slider-card_card___A3p5:focus .ecosystem-slider-card_description__MzJQA,.ecosystem-slider-card_card___A3p5:hover .ecosystem-slider-card_description__MzJQA {
    color: var(--lido-color-borders-water);
    transition: color .3s
}

.ecosystem-slider-card_card___A3p5:focus .ecosystem-slider-card_arrow__ytYAh,.ecosystem-slider-card_card___A3p5:hover .ecosystem-slider-card_arrow__ytYAh {
    color: var(--lido-color-accent-ocean);
    transition: color .3s
}

.ecosystem-slider-more_container__lF1Hx {
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 54px 113px 0 0;
    box-sizing: border-box;
    overflow: hidden
}

.ecosystem-slider-more_title__j8HxT {
    font-size: var(--lido-font-size-h3-not-adaptive);
    line-height: var(--lido-line-height-h3-not-adaptive);
    font-weight: var(--lido-font-weight-medium);
    white-space: nowrap
}

.ecosystem-slider-more_title__j8HxT>span {
    display: flex;
    font-size: var(--lido-font-size-h2-not-adaptive);
    line-height: var(--lido-line-height-h2-not-adaptive);
    font-weight: var(--lido-font-weight-regular)
}

.ecosystem-slider-more_description__K52ST {
    margin: 14px 0 30px;
    color: var(--lido-color-primary-50)
}

.ecosystem-horizontal-slider_card__v6g4o {
    padding-right: 36px;
    border-right: 1px solid var(--lido-color-borders-fog)
}

.validators-slider-card_card__pNsbh {
    display: flex;
    width: 200px;
    height: 84px;
    text-decoration: none;
    position: relative
}

.validators-slider-card_icon__HUWWY {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity .3s
}

.validators-slider-card_card__pNsbh:focus,.validators-slider-card_card__pNsbh:hover {
    outline: none
}

.validators-slider-card_card__pNsbh:focus .validators-slider-card_icon__HUWWY,.validators-slider-card_card__pNsbh:hover .validators-slider-card_icon__HUWWY {
    opacity: .5;
    transition: opacity .3s
}

.validators-horizontal-slider_card__0R8ji {
    margin-bottom: 69px
}

.ecosystem_wrapper__5qimx {
    width: 100%
}

.ecosystem_content__ru3KH {
    width: 100%;
    padding: 230px 0 106px
}

.ecosystem_titleWrapper__OCgWb {
    display: flex;
    align-items: center;
    gap: 50px
}

.ecosystem_title__7Y8zR {
    font-size: 200px;
    font-weight: 400;
    line-height: 100%
}

.ecosystem_additionalTitleWrapper___u0PD {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px
}

@media (max-width: 1699px) {
    .ecosystem_content__ru3KH {
        padding:220px 0 106px
    }

    .ecosystem_title__7Y8zR {
        font-size: 180px
    }
}

@media (max-width: 1439px) {
    .ecosystem_content__ru3KH {
        padding:220px 0 68px
    }

    .ecosystem_titleWrapper__OCgWb {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px
    }

    .ecosystem_additionalTitleWrapper___u0PD {
        flex-direction: row;
        align-items: flex-end
    }

    .ecosystem_button__Dyp2K {
        margin-bottom: 4px
    }
}

@media (max-width: 899px) {
    .ecosystem_content__ru3KH {
        padding:140px 0 80px
    }

    .ecosystem_title__7Y8zR {
        font-size: 120px
    }

    .ecosystem_additionalTitleWrapper___u0PD {
        align-items: center
    }

    .ecosystem_button__Dyp2K {
        margin: 0
    }
}

@media (max-width: 599px) {
    .ecosystem_title__7Y8zR {
        font-size:84px
    }

    .ecosystem_additionalTitleWrapper___u0PD {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px
    }
}

.urgent-card_wrapper__b728d {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 390px;
    padding: 42px;
    border-radius: 56px;
    background: linear-gradient(0deg,rgba(215,71,88,.1),rgba(215,71,88,.1)),hsla(0,0%,100%,.5);
    border: 1px solid var(--lido-color-accent-berry);
    box-sizing: border-box
}

.urgent-card_icon___btg0 {
    width: 80px;
    height: 80px
}

.urgent-card_description__D1vSx,.urgent-card_link__Qy0ee {
    color: var(--lido-color-accent-berry)
}

@media (max-width: 1439px) {
    .urgent-card_wrapper__b728d {
        height:370px
    }
}

@media (max-width: 899px) {
    .urgent-card_wrapper__b728d {
        gap:20px;
        height: 426px;
        padding: 30px
    }

    .urgent-card_description__D1vSx {
        flex: 1 1
    }
}

@media (max-width: 699px) {
    .urgent-card_wrapper__b728d {
        height:496px
    }
}

.card_wrapper__TXUdO {
    width: 100%;
    height: 390px;
    position: relative;
    perspective: 4000px
}

.card_back__kVYcc,.card_front__L8yv_ {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    transition: .9s;
    backface-visibility: hidden;
    background-color: #fff;
    border-radius: 56px;
    border: 1px solid var(--lido-color-borders-fog);
    box-sizing: border-box;
    overflow: hidden
}

.card_front__L8yv_ {
    justify-content: space-between
}

.card_back__kVYcc,.card_showBack__Kg6wc .card_front__L8yv_ {
    transform: rotateY(180deg)
}

.card_showBack__Kg6wc .card_back__kVYcc {
    transform: rotateY(1turn)
}

.card_navigationButton__BKqTM {
    position: absolute;
    top: 30px;
    right: 30px;
    -webkit-backdrop-filter: none;
    backdrop-filter: none
}

.card_info__gi6B1 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 64px
}

.card_row__JPDzm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box
}

.card_item__Gf_2X {
    display: flex;
    align-items: center;
    gap: 9px
}

.card_logoWrapperItem__OoWMR {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--lido-color-borders-fog);
    border-radius: 100%;
    box-sizing: border-box
}

.card_logoItem__xJ0qF {
    width: 38px;
    height: 38px
}

.card_infoItem__TYZzi {
    display: flex;
    flex-direction: column
}

.card_textItem__cXV5J {
    font-size: 17px;
    line-height: 20px
}

.card_plusItem__AyPdr {
    color: var(--lido-color-primary-32);
    font-weight: var(--lido-font-weight-bold)
}

.card_tabsWrapper__OoUUd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.card_tabs__nnz6F {
    gap: 16px
}

.card_tabs__nnz6F>button>span {
    display: flex;
    align-items: center;
    justify-content: center
}

.card_textTabs__CPua4 {
    flex: 1 1;
    margin: 8px 0;
    padding-top: 20px
}

.card_proceedWrapper__j0692 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px
}

.card_textProceed__EUK_8 {
    flex: 1 1;
    color: var(--lido-color-primary-50)
}

.card_colorButton__YH7l8 {
    --local-button-height: 56px
}

@media (max-width: 1699px) {
    .card_wrapper__TXUdO {
        height:370px
    }

    .card_row__JPDzm {
        margin: 0;
        padding: 0 20px 0 0
    }
}

@media (max-width: 899px) {
    .card_wrapper__TXUdO {
        height:426px
    }

    .card_backNavigationButton__DdFeu {
        top: 36px
    }

    .card_info__gi6B1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
        margin: 0
    }

    .card_curatedByWrapper__hAUuq {
        margin-top: -3px
    }

    .card_tabs__nnz6F {
        --local-tab-icon-size: 52px
    }

    .card_textTabs__CPua4 {
        margin: 10px 0;
        padding: 0;
        font-size: var(--lido-font-size-control-not-adaptive);
        line-height: var(--lido-line-height-control-not-adaptive)
    }

    .card_proceedWrapper__j0692 {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px
    }
}

@media (max-width: 699px) {
    .card_wrapper__TXUdO {
        height:496px
    }

    .card_row__JPDzm {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px 12px;
        width: 281px;
        padding: 0
    }

    .card_plusMdHiddenItem__54_1G {
        display: none
    }
}

@media (max-width: 374px) {
    .card_backNavigationButton__DdFeu {
        top:auto;
        bottom: 32px
    }

    .card_row__JPDzm {
        width: 180px
    }

    .card_logoWrapperItem__OoWMR {
        display: none
    }
}

.defi-strategies_wrapper__o9nSL {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 220px 0 120px
}

.defi-strategies_textWrapper__1J6gu {
    display: flex;
    align-items: center;
    gap: 50px
}

.defi-strategies_title__6enRh {
    font-size: 200px;
    line-height: 100%;
    letter-spacing: -9px;
    text-transform: uppercase
}

.defi-strategies_additionalTextWrapper__FJa54 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px
}

.defi-strategies_description__qt2E7 {
    max-width: 366px;
    color: var(--lido-color-primary-72)
}

.defi-strategies_cards__agk9q {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    gap: 60px;
    max-width: 1462px;
    margin-right: 144px
}

.defi-strategies_blurSpotOne__9VsMu,.defi-strategies_blurSpotTwo__taXxx {
    position: absolute;
    width: 1000px;
    height: 1500px;
    background: radial-gradient(hsla(0,100%,81%,.15) 0,transparent 70%);
    border-radius: 100%;
    transform: rotate(-60deg);
    z-index: -1
}

.defi-strategies_blurSpotOne__9VsMu {
    top: 200px;
    left: -100px
}

.defi-strategies_blurSpotTwo__taXxx {
    display: none
}

@media (max-width: 1699px) {
    .defi-strategies_wrapper__o9nSL {
        padding:176px 0 120px
    }

    .defi-strategies_cards__agk9q {
        max-width: 1386px;
        margin-right: 90px
    }

    .defi-strategies_blurSpotOne__9VsMu {
        top: 0;
        left: 300px
    }
}

@media (max-width: 1439px) {
    .defi-strategies_wrapper__o9nSL {
        gap:50px;
        padding: 236px 0 120px
    }

    .defi-strategies_cards__agk9q {
        grid-template-columns: 1fr;
        max-width: 100%;
        margin-right: 0
    }

    .defi-strategies_blurSpotOne__9VsMu,.defi-strategies_blurSpotTwo__taXxx {
        background: radial-gradient(hsla(0,100%,81%,.25) 0,transparent 70%)
    }

    .defi-strategies_blurSpotOne__9VsMu {
        left: -400px
    }

    .defi-strategies_blurSpotTwo__taXxx {
        display: block;
        top: 700px;
        left: -200px
    }
}

@media (max-width: 899px) {
    .defi-strategies_wrapper__o9nSL {
        gap:64px;
        padding: 190px 0 100px
    }

    .defi-strategies_textWrapper__1J6gu {
        gap: 30px
    }

    .defi-strategies_title__6enRh {
        font-size: 120px
    }

    .defi-strategies_additionalTextWrapper__FJa54 {
        gap: 8px
    }

    .defi-strategies_description__qt2E7 {
        max-width: 100%
    }

    .defi-strategies_cards__agk9q {
        gap: 64px
    }
}

@media (max-width: 599px) {
    .defi-strategies_wrapper__o9nSL {
        padding:140px 0 100px
    }

    .defi-strategies_textWrapper__1J6gu {
        align-items: flex-start;
        flex-direction: column;
        gap: 4px
    }

    .defi-strategies_title__6enRh {
        font-size: 84px;
        letter-spacing: -6px
    }

    .defi-strategies_blurSpotOne__9VsMu {
        top: 600px;
        left: -400px
    }

    .defi-strategies_blurSpotTwo__taXxx {
        top: 1300px;
        left: -200px
    }
}

.alliance_container__AavO1 {
    position: relative
}

.alliance_container__AavO1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,transparent 2.78%,var(--lido-color-borders-fog) 22.81%,var(--lido-color-borders-fog) 70.89%,transparent 88.26%)
}

.alliance_content___PyyW {
    padding: 100px 0 184px;
    display: flex;
    align-items: center;
    gap: 162px;
    position: relative
}

.alliance_logoWrapper__Wrzeq {
    display: flex;
    gap: 32px;
    margin-bottom: 57px
}

.alliance_textWrapper__pt2Ng {
    position: relative
}

.alliance_blurSpotOne__5uBjA {
    z-index: -1;
    position: absolute;
    top: -400px;
    left: -350px;
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    background: radial-gradient(rgba(0,255,240,.3) 0,transparent 70%)
}

.alliance_lidoLogo__CVuZ4 {
    width: 329px
}

.alliance_line__X1pAg {
    width: 1px;
    background: var(--lido-color-primary)
}

.alliance_allianceLogo__KE1wc {
    width: 179px
}

.alliance_text__M1gWe {
    font-size: var(--lido-font-size-subheader);
    font-weight: var(--lido-font-weight-light);
    line-height: var(--lido-line-height-subheader);
    max-width: 643px;
    margin-bottom: 30px;
    color: var(--lido-color-primary-72)
}

.alliance_colorButton__r8rkw {
    --local-button-height: 56px
}

.alliance_cardWrapper__osKf3 {
    display: flex;
    gap: 127px;
    margin-bottom: 200px;
    position: relative
}

.alliance_blurSpotTwo__DJPzG {
    z-index: -1;
    position: absolute;
    top: -400px;
    right: 0;
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    background: radial-gradient(rgba(23,255,213,.2) 0,transparent 70%)
}

.alliance_cardDivider__ds8__ {
    width: 1px;
    background: var(--lido-color-borders-fog)
}

.alliance_card__rqAzT {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 590px;
    width: 100%
}

.alliance_cardTextNarrow__mn3lM {
    max-width: 494px
}

.alliance_cardHeadWrapper__4_cb7 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.alliance_icon__gtjLn {
    --local-icon-size: 80px;
    width: 140px;
    height: 140px
}

.alliance_buttonsWrapper__vw3sN {
    display: flex;
    gap: 12px;
    align-items: center
}

.alliance_button__NkBj2 {
    --local-button-height: 56px
}

.alliance_cardText__YKSE5 {
    font-size: var(--lido-font-size-subheader);
    font-weight: var(--lido-font-weight-light);
    line-height: var(--lido-line-height-subheader);
    color: var(--lido-color-primary-72);
    flex-grow: 1
}

@media (max-width: 1920px) {
    .alliance_container__AavO1:before {
        background:var(--lido-color-borders-fog)
    }
}

@media (max-width: 1699px) {
    .alliance_contentWrapper__P8VvT {
        padding-top:64px
    }

    .alliance_content___PyyW {
        padding: 100px 0 121px;
        gap: 101px
    }

    .alliance_cardWrapper__osKf3 {
        gap: 60px
    }

    .alliance_blurSpotOne__5uBjA {
        top: -600px
    }

    .alliance_blurSpotTwo__DJPzG {
        right: -300px
    }
}

@media (max-width: 1439px) {
    .alliance_content___PyyW {
        align-items:normal;
        flex-direction: column;
        padding: 100px 0 124px;
        gap: 20px
    }

    .alliance_contentWrapper__P8VvT {
        padding-top: 66px
    }

    .alliance_image__Xf1tP {
        order: 1;
        align-self: center;
        width: 428px;
        height: 428px
    }

    .alliance_textWrapper__pt2Ng {
        order: 2
    }

    .alliance_text__M1gWe {
        max-width: none
    }

    .alliance_cardWrapper__osKf3 {
        flex-direction: column
    }

    .alliance_card__rqAzT {
        max-width: none
    }

    .alliance_cardHeadWrapper__4_cb7 {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px
    }

    .alliance_icon__gtjLn {
        order: 1
    }

    .alliance_title__tnDtL {
        order: 2
    }

    .alliance_cardDivider__ds8__ {
        width: 100%;
        height: 1px
    }

    .alliance_cardTextNarrow__mn3lM {
        max-width: none
    }

    .alliance_blurSpotOne__5uBjA {
        top: -800px
    }

    .alliance_blurSpotTwo__DJPzG {
        display: none
    }
}

@media (max-width: 899px) {
    .alliance_content___PyyW {
        padding:100px 0 106px;
        gap: 69px
    }

    .alliance_contentWrapper__P8VvT {
        padding-top: 80px
    }

    .alliance_image__Xf1tP {
        width: 363px;
        height: 363px
    }

    .alliance_lidoLogo__CVuZ4 {
        width: 240px
    }

    .alliance_cardDivider__ds8__ {
        width: 100%;
        height: 1px;
        background: transparent;
        position: relative
    }

    .alliance_cardDivider__ds8__:before {
        content: "";
        position: absolute;
        top: 0;
        height: 1px;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        background: var(--lido-color-borders-fog)
    }
}

@media (max-width: 599px) {
    .alliance_content___PyyW {
        padding:100px 0;
        gap: 30px
    }

    .alliance_contentWrapper__P8VvT {
        padding-top: 70px
    }

    .alliance_logoWrapper__Wrzeq {
        flex-direction: column
    }

    .alliance_line__X1pAg {
        height: 1px;
        width: 31px
    }

    .alliance_text__M1gWe {
        max-width: 460px
    }

    .alliance_image__Xf1tP {
        width: 289px;
        height: 289px
    }

    .alliance_blurSpotOne__5uBjA {
        top: -600px
    }
}
